

<div id="pop-up" class="container" >
    <div class="row">
        <div class="col-50" >
            <h1>Are You Sure!!!!!pop</h1>
        </div>
        <div  class="col-50">
            <button mat-raised-button color="primary" (click)="close()">No</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  mat-raised-button color="warn" (click)="deleteRow(user)">Yes</button>
           
        </div>
        
    </div>
</div>

