<p>work works!</p>
<div class="container">
    <div class="row">

      <div class="col-md-12 mt-4"> <button  mat-raised-button color="green" class="btn btn-success" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" (click)="showAddUserForm()">Add New User</button>
  
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <button  mat-raised-button color="green" class="btn btn-success"  (click)="showAddUserForm()">Add New User</button>
            <div>
              <div class="mt-4">
                <form *ngIf="userForm" >
                  <h2>Add New User</h2>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Ex. Karan" name="firstName" [(ngModel)]="newUser.firstName">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Ex. patil" name="lastName" [(ngModel)]="newUser.lastName">
                  </mat-form-field>


                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. abc@gmail.com" type="email" ngModel [email]="true" name="email" [(ngModel)]="newUser.email">
                  </mat-form-field>


                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>password</mat-label>
                    <input matInput placeholder="Ex. $^abc@424" name="password" [(ngModel)]="newUser.password">
                  </mat-form-field>
                  <label for="">Gender</label>
                  <div class="control-form">
                    <label class="radio-inline">
                      <input type="radio" value="male" name="gender" [(ngModel)]="newUser.gender">
                      Male
                    </label>
                    <label class="radio-inline">
                      <input type="radio" value="female" name="gender"  [(ngModel)]="newUser.gender">
                      Female
                    </label>
                     </div>
                 <!-- <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Option 1</mat-radio-button>
                    <mat-radio-button value="2">Option 2</mat-radio-button>
                 </mat-radio-group>-->
                   <p>
                    <button mat-raised-button color="primary" type="button" class="btn btn-primary mr-2" (click)="saveUser(newUser)">Submit</button>
                    <button mat-raised-button color="red" type="button" class="btn btn-warning" (click)="cancelNewUser()">Cancel</button>
                  </p>
                </form>
        



                <form *ngIf="editUserForm">
                  <h2>Edit User Details</h2>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Ex. Karan" name="firstName" [(ngModel)]="editedUser.firstName" >
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Ex. patil" name="lastName" [(ngModel)]="editedUser.lastName">
                  </mat-form-field>
                  <mat-form-field for="inputPassword" class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. abc@gmail.com" name="email" [(ngModel)]="editedUser.email">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>password</mat-label>
                    <input matInput placeholder="Ex. $^abc@424" name="password" [(ngModel)]="editedUser.password">
                  </mat-form-field>
                  <label for="">Gender</label>
                  <div class="control-form">
                    <label class="radio-inline">
                      <input type="radio" value="male" name="gender" [(ngModel)]="editedUser.gender">
                      Male
                    </label>
                    <label class="radio-inline">
                      <input type="radio" value="female" name="gender"  [(ngModel)]="editedUser.gender">
                      Female
                    </label>
                     </div>
                  
                 <!-- <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Option 1</mat-radio-button>
                    <mat-radio-button value="2">Option 2</mat-radio-button>
                  </mat-radio-group>-->
                  <p>
                    <button mat-raised-button color="primary" type="button" class="btn btn-primary mr-2" (click)="updateUser()">Update</button>
                    <button mat-raised-button color="red" type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
  
        
  
  
  
  
  
        <h1 class="text-center">User List</h1>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">First Name</th>
              <th class="text-center">Last Name</th>
              <th class="text-center">Email</th>
              <th class="text-center">Password</th>
              <th class="text-center">Gender</th>
              <th class="text-center">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.id }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.password }}</td>
              <td>{{user.gender}}</td>
              
  
              <td>
                <button mat-raised-button color="primary" type="button" class="btn btn-info btn-sm mr-2" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" (click)="showEditUserForm(user)">Edit</button>
               
                <button mat-raised-button color="warn" (click)="openDialog(user.id)">Delete</button>
                <!--(click) = "deleteRow(i)"-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

 
  
  
  
  
  
  